<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body data-spy="scroll" data-target="#navbarResponsive"></bodydata-spy>
{% include "header.html" %}
    
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block content %}
{% endblock content%}

{% include "footer.html" %}

{% include "scripts.html" %}   
</body>


</html>