{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block content %}

<!-- Start Home Section -->
<div id="home">
    
    <!-- Start Landing Page Image -->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner"></div>
        </div>
    </div>
    <!-- End Landing Page Image -->
    
    <!-- Start Landing Page Caption -->
    <div class="caption text-center text-light text-uppercase">

        <h1 class="font-weight-bold os-animation" data-animation="fadeInUp" data-delay=".6s">Welcome to <span class="text-hero">DjangoTraining</span></h1>
        <h3 class="os-animation" data-animation="fadeInUp" data-delay="0.8s">Hier kannst du was lernen</h3>
        <a href="#features" class="btn btn-outline-light btn-lg rounded-0 os-animation" data-animation="fadeInUp" data-delay="1s">Get Started</a>

    </div>
    <!-- End Landing Page Caption -->

    <!-- Start Bouncing Down Arrow -->
    <a href="#features" class="down-arrow text-center">
        <div class="arrow d-none d-md-block">
            <i class="fas fa-angle-down"></i>
        </div>
    </a>
    <!-- End Bouncing Down Arrow -->

</div>
<!-- End Home Section -->

<!--Modal: Login / Register Form-->

<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        
        <!--Content-->
        <div class="modal-content">
  
            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">
  
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                    Login</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                    Register</a>
                    </li>
                </ul>
  
                <!-- Tab panels -->
                <div class="tab-content">
                <!--Panel 7-->
                <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
  
                <!--Body-->
                
                <div class="modal-body mb-1">
                    <h1 class="text-center mt-6 mb-4">Anmelden</h1>
                    <div class="social-container text-center mb-4">
                        <a href="#" class="social"><span style="color: #505962"><i class="fab fa-facebook-square fa-3x"></i></span></a>
                        <a href="{% provider_login_url "google" %}" class="social"><span style="color: #505962"><i class="fab fa-google fa-3x"></i></span></a>
                        <a href="#" class="social"><span style="color: #505962"><i class="fab fa-linkedin fa-3x"></i></span></a>
                    </div>
                    
                    <form method="POST" action="{% url 'login2' %}">
                    {% csrf_token %}    
                        <div class="text-center mb-2">Oder benutzen Sie Ihre Email für die Anmeldung</div>
                        <div class="md-form form-sm mb-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Benutzername" aria-label="Username" aria-describedby="basic-addon1" name="username">
                            </div>
                        </div>
    
                        <div class="md-form form-sm mb-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fas fa-lock prefix"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Passwort" aria-label="Passwort" aria-describedby="basic-addon2" name="password">
                            </div>
                        </div>

                        <div class="text-center mt-2">
                            <!-- <a href="{% url 'home' %}" class="nav-link">Anmelden2</a> -->
                            <button type="submit" class="btn btn-info">Anmelden</button>
                        </div>
                    </form>
              </div>
              <!--Footer-->
              <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                  <p>Not a member? <a class="blue-text" href="#panel8" role="tab">Sign Up</a></p>
                  <p>Forgot <a href="{% url 'change_password' %}" class="blue-text">Password?</a></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
  
            </div>
            <!--/.Panel 7-->
  
            <!--Panel 8-->
            <div class="tab-pane fade" id="panel8" role="tabpanel">
  
              <!--Body-->
              <div class="modal-body">
                <div class="md-form form-sm mb-5">
                    <form method="POST" action="{% url 'home' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-warning alert-dismissable" role="alert">
                                <button class="close" data-dismiss="alert">
                                    <small><sup>x</sup></small>
                                </button>
                                <p>Das Formular hat Fehler.</p>
                                {% for field in form %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif%}
                        {{ form.as_p }}
                        <input type="submit" value="Registrieren" class="btn btn-secondary">
                    </form>
                </div>
  
                <!-- <div class="md-form form-sm mb-5">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                </div>
  
                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                </div> -->
  
                <div class="text-center form-sm mt-2">
                  <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                </div>
  
              </div>
              <!--Footer-->
              <div class="modal-footer">
                <div class="options text-right">
                  <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!--/.Panel 8-->
          </div>
  
        </div>
      </div>
      <!--/.Content-->
    </div>
</div>
<!--Modal: Login / Register Form-->

<!-- Features Section -->
<div id="features" class="offset">
    <div class="container">

        {% if user.is_authenticated %}
            <p>Name: {{ user.username }}</p>
            <p>Password: {{ user.password }}</p>
        {% endif %}
        
    </div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <div class="container">
        <H1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam deleniti id eos necessitatibus nulla molestiae vero dignissimos eaque ducimus. Exercitationem saepe fugit tempore maiores inventore voluptatibus nesciunt sit accusamus ab!

        </H1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur quis totam reiciendis, numquam eveniet velit expedita architecto eius, maiores, praesentium aperiam tempora eaque natus corrupti aliquid corporis necessitatibus mollitia.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatum cum commodi facilis, harum vel nesciunt maiores exercitationem deleniti quibusdam nulla nemo iure similique, culpa aut enim rerum magnam voluptate.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, corporis quisquam? Ducimus dolor omnis voluptates officiis, quidem aperiam, cum impedit corporis expedita suscipit mollitia modi quaerat velit? Quae, recusandae! Tenetur!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et iste laboriosam autem aliquam est asperiores necessitatibus. Facere distinctio molestiae velit est, incidunt libero tempora laborum, ab sed nostrum reiciendis architecto?

        </h2>
    </div>
</div> 
{{ message }}
<!-- End Features Section -->

<!-- Top Scroll -->
<a href="#home" class="top-scroll">
    <i class="fa fa-angle-up"></i>
</a>
<!-- End of Top Scroll -->

{% endblock content%}   